<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<form method="POST">
{% csrf_token %}
    <label>Описание: <input type="text" name="description" value={{ description }}>

    </label>
 <br><br>
    <label>Сумма расходов:
        <input type="number" name="amount"  value={{ amount }}></label>
   <br><br>
    <label>Дата:
        <input type="date" name="date"  value={{ date }}></label>
   <br><br>
    <div >
            <select name="expense">
              <option value="" disabled selected>Выберите категорию</option>
                {% for exp in expense %}
              <option value="{{ exp.id }}">{{ exp.name }}</option>
              {% endfor %}
            </select>
        </div>
   <br><br>

    <button type="submit">Сохранить</button>

</form>
</body>
</html>