<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

 {% for person in person %}
   <a href="{% url 'person' person.id %}"><h3>{{ person.name }}</h3></a>
{#    <table border="1">#}
{#        <tr>#}
{#            <td>Категория</td>#}
{#        </tr>#}
{##}
{#        {% for expense in expenses %}#}
{#            <tr>#}
{#                <td><a href="{% url 'edit' expense.id %}">#}
{#                    <h3>{{ expense.name }}</h3>#}
{#                </a></td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{% endfor %}
</body>
</html>































