

{% block content %}
    <p class="center-align">Поиск</p>
    <form class="col s6 offset-s3 row" method="POST">

    {% csrf_token %}
        <div class="input-field">
          {{ form.min_date.label_tag }}
            {{ form.min_date }}
        </div>
        <div class="input-field">
          {{ form.max_date.label_tag }}
            {{ form.max_date }}
        </div>

        <button id="search_button" class="btn waves-effect blue white-text " type="submit">Показать</button>
    </form>

{% endblock %}